<form class="example-form">
    <p>ball works2!</p>
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contact Name</mat-label>
        <input matInput placeholder="Contact Name" [(ngModel)]="contactName" name="contactName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="user.contactDate" [value]="user.contactDate"  (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input [value]="date.value" matInput [matDatepicker]="myPicker" placeholder="date">
        <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>


    <button (click)="onClick()" mat-button>Click me!</button>
</form>